header{
    background-color: rgb(73, 187, 253);
    display: flex;
    justify-content: space-between;
    padding: 0px 10vw;
    align-items: center;
}
header nav ul li a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid rgb(0, 169, 236);
    color: white;
    border-radius: 20px;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    
}